<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting propertyKey="stepLength" title="@Strings.StepLength">
        <settingConfig type="float"/>
        <defaults>
            <entry>
                <default id="step_length">1.0</default>
            </entry>
        </defaults>
    </setting>
</settings>
